/* Login.css */
.login-container {
  width: 100vw;  /* <-- Esto fuerza que el login ocupe todo el ancho */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}


.login-form {
  background-color: #111;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-form h2 {
  color: red;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.login-form input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 8px;
  background-color: #222;
  color: white;
  font-size: 1rem;
}

.login-form input::placeholder {
  color: #aaa;
}

.login-form button {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #cc0000;
}

.login-form p {
  margin-top: 1rem;
  color: #f55;
  font-weight: bold;
}
